body{
    font-family: sans-serif;
    color: greenyellow;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: linear-gradient(rgba(9, 9, 9, 0.4), rgba(9, 9, 9, 0.4)), url(images/bg2.jpg);
  }
  
  * {
    box-sizing: border-box;
  }
  
  .topnav {
    background-color: transparent;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: greenyellow;
    color: black;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    border-radius: 30px;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: greenyellow;
    font-size: 17px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: black;
  
  }
  
  .topnav .search-container button:hover {
    background: rgb(211, 253, 149);
  }
  
  .header img{
    float: left;
    height: 50px;
    width: 50px;
  }
  .header h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* VIDEO INFO SHOWING SECTION */
  .vidinfo{
    background-color: transparent;
    margin: 50px auto;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: left;
    align-items: left;
  }
  .vidinfo img{
    max-height: 100%;
    max-width: 320px;
    border: 2px solid #fff;
    border-radius: 10px;
    float: left;
    align-items: left;
    margin-right: 50px;
  }
  .text, #title{
    font-size: 15px;
    color: greenyellow;
  }
  .text a {
    color: white;
    text-decoration: none;
  }
  
  .pagination{
	  display: flex;
		justify-content: center;
		align-items: center;
	}
	.pagelink{
		font-size: medium;
		border-radius: 5px;
		border: none;
		text-decoration: none;
		background-color: greenyellow;
		color: rgba(51, 65, 85, 1);
		padding: 5px;
		text-align:center;
		height:30px;
	}
	.current-page{
		padding:10px;
	}